<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/css/bootstrap.min.css" media="screen" >
    <link rel="stylesheet" href="/styles/mere-css/tiles.css">
    <link rel="stylesheet" href="/styles/mere-css/colors.css">
    <style>
        body {
            padding-top: 40px;
        }
    </style>
</head>
<body>
<article id="content" style="display: none;" class="container">
    <div class="row">
        <video id="local" autoplay="autoplay"></video>
        <video id="remote" autoplay="autoplay"></video>

        <script src="/scripts/webrtc.io.js"></script>
        <script>

            // note: make sure hostname available to all connecting clients
            // (ie. probably not `localhost`)
            rtc.connect('ws://localhost:4000');

            rtc.createStream({"video": true, "audio":false}, function(stream){
                // get local stream for manipulation
                rtc.attachStream(stream, 'local');
            });

            rtc.on('add remote stream', function(stream){
                // show the remote video
                rtc.attachStream(stream, 'remote');
            });

            // more rtc callbacks are available
        </script>
        <div data-bind="foreach: devices" class="col-md-12">
            <div data-bind="click: toggle" style="color: #fff;" class="tile-btn bg-blue">
                <div class="tile-content">
                    <div class="row">
                        <div style="margin-right: auto; margin-left: auto; width: 60%;">

                        </div>
                    </div>
                    <div data-bind="text: name" class="tile-title"></div>
                    <!--<p style="margin-top: .5em; margin-bottom: -.25em;" class="text-center" data-bind="text: name"></p>-->
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</article>

</body>
<script src="/scripts/jquery-2.0.3.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/knockout-3.0.0rc.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!--<script src="/app/app.js"></script>-->
</html>